body {
	font-family: 'Merriweather', serif;
	line-height: 1.6;
}
a {
	text-decoration: none;
	color: #222;
}
header ul li {
	display: inline;
	margin: 15px;	
}
nav {
	margin: 45px 0;
}
nav a {
	font-weight: 200;
	font-style: italic;
	font-size: 16px;
	color: #999;
}
ul {
	list-style: none;
}
header h1 {
	font-size: 18px;
	margin: 45px 0 0 0;
	font-weight: 400;
}
header h4 {
	font-style: italic;
	font-size: 14px;
	font-weight: 300;
	color: #999;
	margin: 5px 0;
}
.tags ul {
	padding: 0;
	display: inline;
}
.tags ul li {
	display: inline;
}
.tags {
	display: inline;
}
a:active, a:hover {
	color: #44BBD5;
}
.first_article_title h1{
	font-weight: 900;
	font-size: 72px;
	border-bottom: 10px solid #44BBD5;
	line-height: 1.2;
	padding: 0 0 20px;
}
.article_title {
	border-bottom: 5px solid #44BBD5;
	font-weight: 900;
	font-size: 44px;
	color: #222
}
.date {
	font-weight: 200;
	font-style: italic;
	font-size: 20px;
	color: #222;
	margin: 20px 0 10px 0;
}