body {
	font-family: 'Merriweather', serif;
	line-height: 1.6;
}
a {
	text-decoration: none;
	color: #222;
}
header ul li {
	display: inline;
	margin: 15px;	
}
nav {
	margin: 45px 0;
}
nav a {
	font-weight: 200;
	font-style: italic;
	font-size: 16px;
	color: #999;
}
ul {
	list-style: none;
}
header h1 {
	font-size: 18px;
	margin: 45px 0 0 0;
	font-weight: 400;
}
header h4 {
	font-style: italic;
	font-size: 14px;
	font-weight: 300;
	color: #999;
	margin: 5px 0;
}
.tags ul {
	padding: 0;
	display: inline;
}
.tags ul li {
	display: inline;
}
.tags {
	display: inline;
}
a:active, a:hover {
	color: #44BBD5;
}
.first_article_title h1{
	font-weight: 900;
	font-size: 72px;
	border-bottom: 10px solid #44BBD5;
	line-height: 1.2;
	padding: 0 0 20px;
}
.article_title {
	border-bottom: 5px solid #44BBD5;
	font-weight: 900;
	font-size: 44px;
}
.date {
	font-weight: 200;
	font-style: italic;
	font-size: 20px;
	color: #222;
	margin: 20px 0 10px 0;
}
article h1 a{
	color: #000;
}
article {
	margin: 50px 0;
}
article a, .dot, footer a {
	color: #44BBD5;
}
.dot {
	display: inline;
	margin: 0 5px;
}
footer {
	background: #f0f0f0;
	padding: 70px 0;
	margin: 0;
	height: 300px;
}

#searchsubmit {
	background: #44BBD5;
	border: none;
	color: #fff;
	font-style: italic;
	width: 50px;
}
#searchsubmit p {
	line-height: 0;
	padding: 0 0 0 9px;
}
#s {
	height: 33px;
	line-height: 3.3;
}
footer ul li {
	text-indent: -40px;
	font-size: 16px;
	font-style: italic;
}
footer h3 {
	font-size: 12px;
	color: #666;
	font-weight: 400;
	text-transform: uppercase;
}
fieldset {
	border: none;
	padding: 0;
}
.gallery-item {
	display: inline-block;
	float: right;
	margin: 20px;
}
.gallery {
	display: inline-block;
	margin: 0 auto;
}
.blog img {
	float: right;
}
.blog p {
	float: left;
	width: 60%;
}



